.presentation div {
    display: flex;
    padding-bottom: 20px;
    justify-content: space-around;
}

.presentation span {
    padding: 20px;
    width: 400px;
    text-align: justify;
}

#presentation {
    font-size: 1.3em;
}

@media all and (max-width:1050px) and (min-width:500px) {

    .presentation div {
        flex-direction: column;
        align-items: center;
    }
    
}

@media all and (max-width:500px) {

    .presentation div {
        flex-direction: column;
        align-items: center;
    }
    
    #presentation {
        margin: 20px;
    }
}