.parcoursfilm, .parcoursstage {
    display: flex;
    justify-content: space-between;
}

.hoverimage img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 0px;
    object-fit: contain;
    background-color: transparent;
}

#imgs, #imgs2, #imgs3 {
    text-align: center;
    color: #9270ff;
    font-weight: 500;
    position:absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right:0px;
    background-color: rgb(201, 205, 205);
}

#imgs:hover, #imgs2:hover, #imgs3:hover {
    background-color: transparent;
    color: transparent;
}

.hoverimage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
}

.hoverimage div, .hoverimage a {
    border-radius: 10px;
    align-items: flex-start;
    position: relative;
    width: 300px;
    height: 25px;
    padding: 0px;
    margin: 0;
}

.hoverimage div:hover, .hoverimage a:hover {
    height: 300px;
}

#tn {
    display: flex;
    flex-direction: row;
}

#tnimages img {
    max-width: 250px;
    max-height: 250px;
}

#tnimages {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 250px;
}

.hoverimage a:hover, #tnimages a:hover, .education a:hover {
    background-color: transparent;
}

.hoverimage img:hover, #tnimages img:hover, .education img:hover {
    opacity: 85%;
}

#orange:hover {
    opacity: 100%;
}

@media all and (max-width:1100px) {

    main div, #tn {
        flex-direction: column;
    }

    #imgs, #imgs2, #imgs3 {
    background-color: transparent;
    color: transparent;
    }

    .hoverimage div, .hoverimage a {
    height: 300px;
    }

}
