div {
    padding-bottom: 10px;
}

.projets div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#filmbac div, #photoreportage div, #arduino div, #jeuscratch div, #labybille div, #siteweb div {
    display: block;
}

#jeuscratch a:hover, #photoreportage a:hover {
    background-color: transparent;
}

#jeuscratch img:hover, #photoreportage img:hover {
    opacity: 85%;
}

@media all and (max-width:1050px) {

    .projets div {
        flex-direction: column;
    }

}