* {
    margin: 0;
}

body {
    color: #011638;
    font-family: 'Quicksand';
    font-weight: 300;
    font-size: 1.35em;
}

h1 {
    font-size: 3em;
    font-family: 'Josefin Sans';
    font-weight: 700;
    text-align: center;
    color: #9270ff;
    padding-bottom: 35px;
}

h2 {
    font-size: 2em;
    font-family: 'Josefin Sans';
    font-weight: 500;
}

p {
    margin: 20px;
}

.small {
    font-size: 0.75em;
    margin-bottom: 0;
}

main {
    padding: 80px;
    margin: auto;
    max-width: 1000px;
    background-color: #DFF8DD;
}

div {
    margin: 20px;
}

header {
    background-color: #f9f9f9;
    border-bottom: solid 2px lightgrey;
}

nav {
    display: flex;
    margin:auto;
    justify-content: space-evenly;
    margin-inline: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: #875b9a;
    font-weight: 500;
}

a:hover {
    background-color: #bad1b8;
    border-radius: 10px;
}

a:active {
    color: #9270ff;
    background-color: rgb(201, 205, 205);
}

li {
    padding-bottom: 10px;
}

strong {
    font-weight: 650;
    font-size: 1.1em;
}

em {
    font-style: normal;
    font-weight: 450;
}

.Header a {
    font-size: 1.5em;
    font-family: 'Exo 2';
    font-weight: 200;
    color: #717171;
    padding: 10px;
    align-items: center;
    background-color: unset;
    border-radius: unset;
    text-decoration: none;
    border-inline: solid 5px lightgrey;
    margin: auto;
    border-radius: 35px;
}

.Header a:hover {
    color: #a7a7a7;
}

#indexlink {
    background-color: rgb(226, 228, 228);
    border-radius: 35px;
    flex-wrap: nowrap;
}

#indexlink:hover {
    color: #8da6a6;
}

#nav1 {
    font-weight: 500;
    font-size: 1.3em;
}

img {
    max-width: 450px;
    max-height: 450px;
    border-radius: 20% 20% 20% / 20% 20% 20% 20%;
    padding: 5px;
    background-color: #A185FF;
}

@media all and (min-width:996px) and (max-width:1135px) {
    
    .Header a {
        font-size: 1.4em;
    }
        
}

@media all and (min-width:650px) and (max-width:996px) {

    .Header a {
        font-size: 1.35em;
    }

    main {
        padding:40px;
    }

    nav {
        margin-inline: 0;
    }

    ul {
        padding: 0;
    }
}

@media all and (max-width:650px) and (min-width:500px) {

    body {
        font-size: 1.25em;
    }
    
    main {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-inline: 0px;
    }

    .Header a {
        font-size: 1.10em;
    }

    nav {
        margin-inline: 0;
    }

    ul {
        padding: 0;
    }

    div {
        margin: 10px;
    }
    
    p {
        margin: 10px;
    }

    img {
        max-width: 250px;
    }
}

@media all and (max-width:500px) {

    body {
        font-size: 1.10em;
    }

    main {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-inline: 0px;
    }

    .Header a {
        font-size: 0.95em;
    }

    nav {
        margin-inline: 0;
    }

    ul {
        padding: 0;
    }

    div {
        margin: 10px;
    }
    
    p {
        margin: 10px;
    }

    img {
        max-width: 250px;
    }
}
